* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-padding-top: 56px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

.navbar .nav-link:hover {
  text-decoration: underline;
}

#home {
  background: linear-gradient(135deg, #3a8dde, #74d2f6);
}

#features {
  background: linear-gradient(135deg, #74d2f6, #3a8dde);
}

#features .card {
  background: linear-gradient(135deg, #74d2f6, #5aa3ec);
}

#quickguide {
  background: linear-gradient(135deg, #3a8dde, #74d2f6);
}

#generateqr {
  background: linear-gradient(135deg, #74d2f6, #3a8dde);
}

#testimonials {
  background: linear-gradient(135deg, #3a8dde, #74d2f6);
}

#testimonials .card-body {
  background: linear-gradient(135deg, #a0c1e9, #60aaf4);
}

#about {
  background: linear-gradient(135deg, #74d2f6, #71aeeb);
}

#faq {
  background: linear-gradient(135deg, #3a8dde, #74d2f6);
}

#faq .accordion-button {
  background: linear-gradient(135deg, #74acf0, #7fb8f1);
  color: black;
}

#faq .accordion-body {
  background: linear-gradient(135deg, #8fbbf0, #92c2f2);
}

footer {
  background: linear-gradient(135deg, #3a8dde, #3bb6e6);
}

footer .customSize {
  font-size: 0.8rem;
}